[submodule "Boost-Library"]
        path = InfoGen_Data/Libraries/Boost
        url = https://github.com/boostorg/boost.git
        branch = master
[submodule "Fmtlib"]
        path = InfoGen_Data/Libraries/Fmt
        url = https://github.com/fmtlib/fmt.git
        branch = master
[submodule "CSpaceEngine"]
        path = InfoGen_Data/Libraries/CSE
        url = https://github.com/StellarDX/CSpaceEngine-Project.git
        branch = main
